<%= form_with model: @data_transfer do |data_transfer| %>
    <hr>
    <div>
        <table>
            <th>IMonggo c4 Account Details</th>
            <tr>
                <td><%= data_transfer.label :c4_acct_name %></td>
                <td><%= data_transfer.text_field :c4_acct_name %></td>
            </tr>
            <tr>
                <td><%= data_transfer.label :c4_token %></td>
                <td><%= data_transfer.text_field :c4_token %></td>
            </tr>
            <th>IMonggo c3 Account Details</th>
            <tr>
                <td><%= data_transfer.label :c3_acct_name %></td>
                <td><%= data_transfer.text_field :c3_acct_name %></td>
            </tr>
            <tr>
                <td><%= data_transfer.label :c3_token %></td>
                <td><%= data_transfer.text_field :c3_token %></td>
            </tr>
            <tr>
                <td><%= data_transfer.label :c3_url %></td>
                <td><%= data_transfer.text_field :c3_url %></td>
            </tr>
            <th>Insert Request Details</th>
            <tr>
                <td>Data Type</td>
                <td><%= data_transfer.select :transfer_data_type, 
                ['Products', 'Customers', 'Invoices', 'Documents'], selected: "Products" %></td>
            </tr>
            <tr>
                <td><%= data_transfer.label :page %></td>
                <td><%= data_transfer.number_field :page %></td>
            </tr>
            <th>Map <code>user_id</code>'s for Invoices</th>
            <tr>
                <td><%= data_transfer.label :user_id %></td>
                <td><%= data_transfer.number_field :user_id %></td>
            </tr>
        </table>
    </div>
    <div>
        <%= data_transfer.submit %>
    </div>
    
<% end %>