<h1>Data Transfer Request</h1>
<ul>
    <li><b>C4 Account:</b> <%= @data_transfer.c4_acct_name  %></li>
    <li><b>C4 API Token:</b> <code><%= @data_transfer.c4_token %></code></li>
    <li><b>C3 Account:</b> <%= @data_transfer.c3_acct_name %></li>
    <li><b>C3 API Token:</b> <code><%= @data_transfer.c3_token %></code></li>
    <li><b>C3 API URL:</b> <%= @data_transfer.c3_url %></li>
    <li><b>Data Type:</b> <%= @data_transfer.transfer_data_type %></li>
    <li><b>Page to Transfer:</b> <%= @data_transfer.page %></li>
</ul>

<%= link_to "Return to Requests", data_transfers_path %>

<hr>

<h2>--Transfer Status--</h2>
<%= @data_transfer.status %>

 